@media(min-width: 320px) and (max-width: 425px){
    .row {
        display: block;
    }

    .header-row {
        margin: 0px auto;
    }
    .header .header-container, .header-menu ul, .header-button-group,.main-container, .main-content-flex, .main-container-information{
        display: block;
    }
    .header-menu, .header-button-group {
        text-align: center;
        width: 100%;
    }
    .header-menu li, .header-button-group div{
        margin-bottom: 20px;
    }
    .header-banner-container, .container{
        width: 90%;
    }
    .header-banner-container {
        display: block;
        height: 410px;
    }
    .header-banner {
        padding-top: 35px;
        width: auto;
    }
    .header-banner-title {
        padding-bottom: 20px;
        width: auto;
        font-size: 23px;
        line-height: 35px;
    }
    .header-banner-form .form-search {
        padding: 15px 4px 15px 20px;
    }
    .header-banner-form .form-submit {
        padding: 15px 20px;
    }
    .margin-left, .margin-right{
        margin: 0px;
    }
    .main-content {
        width: 100%;
    }
    .main-container {
        padding-top: 75px;
    }
    .main-content-title h3 {
        font-size: 20px;
        line-height: 35px;
    }
    .main-content-subtitle p {
        font-size: 12px;
        line-height: 25px;
    }
    .main-content-title {
        padding: 0px;
    }
    .main-content-button a {
        font-size: 14px;
    }
    .main-content-exposition-title h2 {
        padding: 0px;
        font-size: 50px;
    }
    .schedule-deductible {
        height: 100px;
    }
    .schedule-annual-max {
        height: 250px;
    }
    .content-schedule-group {
        justify-content: space-between;
        gap: 0px;
    }
    .content-schedule-subtitle p {
        padding: 1px 0px 0px;
    }
    .main-content-information {
        width: 100%;
    }
    .content-information-exposition-title h3 {
        padding: 3px 0px 0px 0px;
        font-size: 21px;
        line-height: 30px;
    }
    .content-information-exposition-title p {
        padding: 8px 0px 0px 0px;
        font-size: 25px;
        line-height: 37px;
    }
    .main-content-information {
        height: 375px;
    }
    .content-information-exposition-title>.active::after {
        right: -24px;
    }
    .content-information-exposition-subtitle p {
        font-size: 17px;
        line-height: 26px;
    }
    .main-content-img {
        width: 240px;
        height: 370px;
    }
    .main-banner-container {
        height: 320px;
    }
    .pading-bottom-top {
        padding: 10px 0px;
    }
    .bxslider>li {
        margin-right: 20px !important;
    }
    .before-next {
        display: none;
    }
    .after-next {
        display: none;
    }
    .footer-col{
        display: table-cell;
        padding: 10px 20px 0px 0px;
    }
    .footer-information-exposition h4 {
        padding-top: 10px;
        padding-bottom: 9px;
    }
    .footer-information-exposition p {
        font-size: 12px;
        padding-bottom: 10px;
    }
    .footer-information-exposition {
        width: 300px;
    }
    .footer-information-exposition>form::before {
        right: 18px;
    }

    .col img{
        width: 300px;
    }

}

@media(min-width: 426px) and (max-width: 768px){
    .row {
        display: block;
    }

    .header-row {
        margin: 0px auto;
    }
    .header .header-container, .header-menu ul, .header-button-group,.main-container, .main-content-flex, .main-container-information{
        display: block;
    }
    .header-menu, .header-button-group {
        text-align: center;
        width: 100%;
    }
    .header-menu li, .header-button-group div{
        margin-bottom: 20px;
    }
    .header-banner-container, .container{
        width: 90%;
    }
    .header-banner-container {
        display: block;
        height: 410px;
    }
    .header-banner {
        padding-top: 35px;
        width: auto;
    }
    .header-banner-title {
        padding-bottom: 20px;
        width: auto;
        font-size: 23px;
        line-height: 35px;
    }
    .header-banner-form .form-search {
        padding: 15px 4px 15px 20px;
    }
    .header-banner-form .form-submit {
        padding: 15px 20px;
    }
    .margin-left, .margin-right{
        margin: 0px;
    }
    .main-content {
        width: 100%;
    }
    .main-container {
        padding-top: 75px;
    }
    .main-content-title h3 {
        font-size: 20px;
        line-height: 35px;
    }
    .main-content-subtitle p {
        font-size: 12px;
        line-height: 25px;
    }
    .main-content-title {
        padding: 0px;
    }
    .main-content-button a {
        font-size: 14px;
    }
    .main-content-exposition-title h2 {
        padding: 0px;
        font-size: 50px;
    }
    .schedule-deductible {
        height: 100px;
    }
    .schedule-annual-max {
        height: 250px;
    }
    .content-schedule-group {
        justify-content: space-between;
        gap: 0px;
    }
    .content-schedule-subtitle p {
        padding: 1px 0px 0px;
    }
    .main-content-information {
        width: 100%;
    }
    .content-information-exposition-title h3 {
        padding: 3px 0px 0px 0px;
        font-size: 21px;
        line-height: 30px;
    }
    .content-information-exposition-title p {
        padding: 8px 0px 0px 0px;
        font-size: 25px;
        line-height: 37px;
    }
    .main-content-information {
        height: 375px;
    }
    .content-information-exposition-title>.active::after {
        right: -24px;
    }
    .content-information-exposition-subtitle p {
        font-size: 17px;
        line-height: 26px;
    }
    .main-content-img {
        width: 240px;
        height: 370px;
    }
    .main-banner-container {
        height: 320px;
    }
    .pading-bottom-top {
        padding: 10px 0px;
    }
    .bxslider>li {
        margin-right: 20px !important;
    }
    .before-next {
        display: none;
    }
    .after-next {
        display: none;
    }
    .footer-col{
        display: table-cell;
        padding: 10px 20px 0px 0px;
    }
    .footer-information-exposition h4 {
        padding-top: 10px;
        padding-bottom: 9px;
    }
    .footer-information-exposition p {
        font-size: 12px;
        padding-bottom: 10px;
    }
    .footer-information-exposition {
        width: 300px;
    }
    .footer-information-exposition>form::before {
        right: 18px;
    }

    .col img{
        width: 300px;
    }
}

@media(min-width: 769px) and (max-width: 1024px){
    .row {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .main-content-title {
        max-width: 402px;
    }
    .header .header-container {
        width: 95%;
    }
    .after-next {
        right: -50px;
    }
    .before-next {
        left: -50px;
    }
}

@media(min-width: 1800px){
    .header .header-container {
        width: 80%;
    }
    .header-row {
        max-width: 65%;
    }
    .header-banner-container {
        width: 75%;
    }
    .container {
        width: 75%;
    }
    .main-content-title {
        max-width: 402px;
    }
}